body {
    display: flex;
    flex-flow: column;
    align-items: center;
}
#header {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100px;
    width: 100%;
    background-color: gold; /* find a better color */
}
#title {
    /* add unique font and color */    
}